
body {
    display: flex; 
    flex-direction: column;
    font-family: sans-serif;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

/* /////////////////////////////Header///////////////////////////////// */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 250px;
    gap: 50px;
    padding: 20px;
}

/* Header Top */
.header .top {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    min-width: 1000px;
}
.header .top .left {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
}

.header .top .right {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #e5e7eb; 
    gap: 20px;
}

/* Header Bottom */
.header .bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    max-width: 1000px;
    min-width: 500px;
}
.header .bottom .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 10px;
    gap: 10px;
}

.header .bottom .left .title {
    font-size: 48px;
    font-weight: 900;
}

.header .bottom .left .subtitle {
    font-size: 18px;
    color: #e5e7eb; 
}

.header .bottom .left .signup {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    text-align: center;
}

.header .bottom .right {
    display: flex;
    padding: 30px;
    width: 500px;
}

/* //////////////////////////Content/////////////////////////////////// */

/* Content Top */
.content .top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
    height: 500px;
}

.content .top .title {
    font-size: 36px;
    font-weight: 900;
}

 .content .top .boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 750px;
    gap: 30px;
}

.content .top .boxes .boxwrap {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px;
}

.content .top .boxes .boxwrap .box {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    flex-grow: 0;
    flex-shrink: 1;
}


/* Content Middle */
.content .middle {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.content .middle .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 300px;
    margin-left: 250px;
    margin-right: 250px;
    gap: 10px;
}
.content .middle .wrapper .text {
    min-width: 300px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}   

.content .middle .wrapper .subtext {
    font-size: 26px;
    font-weight: 700;
}

/* Content Bottom */
.content .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 200px;
    height: 500px;
}

.content .bottom .popup {
    background-color: #3882f6;
    display: flex;
    justify-items: space-evenly;
    align-items: center;
    border-radius: 5px;
    min-width: 300px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 45px;
    gap: 50px;
}

.content .bottom .popup .wrapper .text {
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.content .bottom .popup .wrapper .subtext {
    color: white;
}

.content .bottom .popup .signup {
    border-radius: 5px;
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    flex-shrink: 0;
    width: 125px;
    height: 50px;
    margin-right: 20px;
}

/* //////////////////////////Footer////////////////////////////////////// */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
}